 {
	"name": "\u0423\u0441\u0442\u0430\u043d\u043e\u0432\u043e\u0447\u043d\u044b\u0435 \u0446\u0435\u043d\u0442\u0440\u044b",
	"elements":  {
		"b23a7379-ea82-488f-9c12-a718f173025e":  {
			"name": "Map",
			"description": "",
			"access": "1",
			"locale": "ru",
			"key": "",
			"type": "googlemaps"
		},
		"3ccfc886-fe35-4b60-aa4d-7648b0ee8679":  {
			"name": "\u0410\u0434\u0440\u0435\u0441",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"5d2183d1-45f0-440a-8fc6-f4826cb4f509":  {
			"name": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"38101ae6-1391-4fd6-902c-c8bcab491a4a":  {
			"name": "\u0412\u0440\u0435\u043c\u044f \u0440\u0430\u0431\u043e\u0442\u044b",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}