.rotate{
    animation:none;
    background: rgba(0,0,0,0.75);
    opacity: 1;
    -webkit-animation: none;
    top:0px;
    left:0px;
    right: 0px;
    bottom:0px;
}

section.icons .icon_wrap{
    background: rgba(0,0,0,0.8);
}


section.menu{
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 1);
}

main {
    /*top:0px;*/
    /*margin: 100px 260px 0px 350px;*/
    padding: 40px 260px 0px 350px;
    margin: 0px;
    /*overflow-y: scroll;*/
    position: fixed;
    top:65px;
    left:0px;
    right:0px;
    bottom: 163px;
}


@media (max-width: 1439px){
    main {

    }
}


@media (max-width: 1280px){
    main {
        top: 0px;
        padding: 40px 260px 0px 250px;
        top:65px;
        bottom: 140px;
    }
}
section.menu{
    background: rgba(0,0,0,0.8);
}





/* КОНТЕНТ: Видеозаписи */

#yoo-zoo.blog-default .item div.pos-content .element {
    margin-bottom: 0px;
}

#yoo-zoo.blog-default .item .element-textarea iframe{
    border: 8px solid #1c1c1c;
    box-sizing: border-box;
    margin-bottom: 10px !important;
}

#yoo-zoo.blog-default .item .element-itemname{
    font-size: 48px;
    margin-bottom: 15px;
    font-family: bebas_neue_cyrillicregular;
    color: white;
    margin-bottom: 10px !important;
    margin-right: 20px;
}

#yoo-zoo.blog-default .item .element-date{
    color: #888888;
    font-size: 16px;
    margin-bottom: 15px;
    float: right;
    font-family: 'PT Sans', sans-serif;
}

#yoo-zoo.blog-default .details h1.title{
    font-size: 48px;
    margin-bottom: 15px;
    font-family: bebas_neue_cyrillicregular;
    color: white;
    margin-bottom: 10px !important;
    border-bottom: none;
    letter-spacing: 0px;
}



#yoo-zoo.blog-default .details{
    border-bottom: none;
}

#yoo-zoo.blog-default .details div.heading{
    border-bottom: none;
}

#yoo-zoo.blog-default .items div.teaser-item-bg{
    border-bottom: none;
    background: none;
    float: left;
    width: 25%;
}


#yoo-zoo.blog-default .floatbox{
    float: left;
}

#yoo-zoo.blog-default .items div.teaser-item{
    padding: 0px;
}

#yoo-zoo.blog-default .items  a{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 25px;

}

#yoo-zoo.blog-default .items  .element-image{
margin-bottom: 5px;
}

#yoo-zoo.blog-default .items .element-image a{
    position: relative;
}
#yoo-zoo.blog-default .items .element-image a:after {
    background: url('/templates/moto/images/play.png');
    width: 30px;
    height: 50px;
    display: block;
    content: "";
    position: absolute;
    color: white;
    margin: 0 auto;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -25px;

    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

/* Наведение на блок */
#yoo-zoo.blog-default .items div.media-left:hover .element-itemname a{
    color: #ac8019;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

#yoo-zoo.blog-default .items div.media-left:hover .element-image img{
    border: 8px solid #ac8019;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}
Whitelight
#yoo-zoo.blog-default .items div.media-left:hover .element-image a:hover:after{
    background: url('/templates/moto/images/play_hover.png');

    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}


#yoo-zoo.blog-default .items div.media-left{
    margin-right: 25px;
    margin-bottom: 40px;
}

#yoo-zoo.blog-default .items .element-date{
    color: #888888;
    font-size: 12px;
    margin-top: 3px;
    display: block;
    float: left;
}


.yoo-zoo .items img{
    max-width: 100%;
    height: auto;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.yoo-zoo .items img:hover{
    border: 8px solid #ac8019;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* МЕДИА: 1600 */
@media (max-width:1620px) {
    #yoo-zoo.blog-default .items div.teaser-item-bg{
        width: 33.3333%;
    }
}

/* МЕДИА: 1380 */
@media (max-width:1380px) {
    #yoo-zoo.blog-default .items div.teaser-item-bg{
        width: 50%;
    }
}


/* ZOO */
.yoo-zoo a:hover {
    text-decoration: none;
}

.yoo-zoo img{
    border: 8px solid #1c1c1c;
    box-sizing: border-box;
}

#yoo-zoo.blog-default .items div.teaser-item-bg{
     padding: 0px;
}

#yoo-zoo.blog-default .items {
    margin: 0px;
}

#yoo-zoo.blog-default .item .floatbox{
    float:none;
}

#yoo-zoo.blog-default .items div.pos-media .element{
    margin-bottom: 0px;
}

#yoo-zoo.blog-default .details {
    margin: 0px 0px 0px 0px;

}



/* bottom */




/* КОНТЕНТ: Видеозаписи */

#yoo-zoo.blog-expo .item div.pos-content .element {
    margin-bottom: 0px;
}

#yoo-zoo.blog-expo .item .element-textarea iframe{
    border: 8px solid #1c1c1c;
    box-sizing: border-box;
    margin-bottom: 10px !important;
}

#yoo-zoo.blog-expo .item .element-itemname{
    font-size: 48px;
    margin-bottom: 15px;
    font-family: bebas_neue_cyrillicregular;
    color: white;
    margin-bottom: 15px !important;
    margin-right: 20px;
}

#yoo-zoo.blog-expo .item div.pos-content .element-image{
    float: left;
    margin-right: 20px;
}

#yoo-zoo.blog-expo .item .element-date{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 15px;
    float: right;
    font-family: 'PT Sans', sans-serif;
}

#yoo-zoo.blog-expo .item .element.element-textarea p {
    color: #888888;
    font-size: 16px;
}



#yoo-zoo.blog-expo .details h1.title {
    font-size: 48px;
    font-family: bebas_neue_cyrillicregular;
    color: white;
    margin-bottom: 0px !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #888888;
    letter-spacing: 0px;
    margin-top: 0pc;
}



#yoo-zoo.blog-expo .details{
    border-bottom: none;
}

#yoo-zoo.blog-expo div.heading{
    border-bottom: none;
    margin-bottom: 30px;
}

#yoo-zoo.blog-expo .items div.teaser-item-bg{
    border-bottom: none;
    background: none;
    float: left;
    margin-bottom: 50px;
}


#yoo-zoo.blog-expo .floatbox{
    float: left;
}

#yoo-zoo.blog-expo .items div.teaser-item{
    padding: 0px;
}

#yoo-zoo.blog-expo .items div.pos-media a{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 25px;
}

#yoo-zoo.blog-expo .items .element-image{
    margin-bottom: 5px;
    width: 25%;
    margin-right: 20px;
    float: left;
    min-width: 200px;
}

#yoo-zoo.blog-expo .items .element-itemname a{
    font-size: 38px;
    font-family: bebas_neue_cyrillicregular;
    color: white;
    margin-bottom: 15px !important;
    border-bottom: none;
    letter-spacing: 0px;
    display: block;
}

#yoo-zoo.blog-expo .items .element-textarea,#yoo-zoo.blog-expo .items .element-textarea p{
    font-size: 16px;
    color: #888888 !important;
}


#yoo-zoo.blog-expo .items div.media-left{
    margin-right: 25px;
    margin-bottom: 40px;
}

#yoo-zoo.blog-expo .items .element-date{
    color: #ac8019;
    font-size: 12px;
    margin-top: 3px;
    display: block;
    float: left;
}

#yoo-zoo.blog-expo .items .pos-date,#yoo-zoo.blog-expo .item .pos-date{
    display: none;
}

.yoo-zoo{
    position: relative;
}




/* Модуль: Примеры установок */
ul.uk-list.uk-list-line.blog-default {
    position: fixed;
    top: 140px;
    left: 30px;
    bottom: 100px;
    padding-right: 10px;
    z-index: 500;
}

ul.uk-list.uk-list-line.blog-default img{
    width: 60px;
    height: 40px;
    margin-right: 20px;
}

ul.uk-list.uk-list-line.blog-default a{
    display: block;
    float: left;
}

ul.uk-list.uk-list-line.blog-default li{
    clear: both;
    float: left;
    display: block;
    margin-bottom: 20px;
}

ul.uk-list.uk-list-line.blog-default li a:nth-of-type(2){
    padding-bottom: 2px;
    border-bottom: 1px solid #888888;
    margin-top: 7px;

    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

ul.uk-list.uk-list-line.blog-default li a:nth-of-type(2):hover{
    border-bottom: none;

    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

ul.uk-list.uk-list-line.blog-default:before{
    content:'ПРИМЕРЫ УСТАНОВКИ';
    /*position: fixed;*/
    /*top: 50px;*/
    /*left: 50px;*/
    margin-bottom: 20px;
    display: block;
    width: 200px;
    color: white;
    font-family: bebas_neue_cyrillicregular;
    font-size: 28px;
}

@media(max-width: 1280px){
    ul.uk-list.uk-list-line.blog-default {
        top: 140px;
        left: 30px;
        margin-top: 9px;
    }

    ul.uk-list.uk-list-line.blog-default a{
        font-size: 12px;
    }

    ul.uk-list.uk-list-line.blog-default img{
        width: 60px;
        height: 40px;
        margin-right: 10px;
    }
    ul.uk-list.uk-list-line.blog-default li{
        margin-bottom: 10px;
    }
}

