@viewport {
    user-zoom: fixed;
}
*:focus{
    outline:none;
}

@media(max-width: 1024px){
    /* DEFAULT */
    section.info,section.order,section.header,section.menu,section.menu_bottom,section.icons
    {
        display:none;
    }

    .icons_descriotion__in_modbox{
        color:white;
    }
    .icons_descriotion__in_modbox p{
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .info_icon{
        cursor: pointer;
    }

    section.main div.item-page {
        margin-bottom: 0px;
    }


    body{
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        background: url('../images/background1_small.jpg') 50% 0%;
        overflow-y: auto;
    }

    .rotate{
        display: none;
    }

    main{
        position: absolute;
        top:50%;
        bottom: 0px;
    }


    /* SECTION::LOGO*/
    section.logo{
        position: relative;
        margin: 0 auto;
        left: 0px;
    }

    /*SECTION::LOGO*/
    section.logo span{
        width: 180px;
        height: 67px;
        background: url('/templates/moto/images/logo.png');
        background-size: 100%;
        display: block;
        margin: 0px auto;
    }

    section.logo span:hover{
        background: url('/templates/moto/images/logo.png');
        background-size: 100%;
    }

    section.logo:after{
        content:'МОТОВИДЕОРЕГИСТРАТОР НОВОГО ПОКОЛЕНИЯ';
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        width: 200px;
        color: white;
        font-family: 'bebas_neue_cyrillicregular';
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
    }


    section.logo:after {

    }

    section.logo{
        top: 10px;
    }

    /*SECTION::SLIDER*/
    main{
        margin: -225px 0px 0px 0px;
    }
    .slidecontent{
        width: 396px;
        min-height: 440px;
    }
    .slidecontent .slide_img {
        margin: 0 auto;
        width: 280px;
        margin-bottom: 40px;
        top: 60px;
        display: block;
    }

    .slide_left{
        left:100px;
        margin-top: 75px;
    }
    .slide_right{
        right:100px;
        margin-top: 75px;
    }

    #slide4 .info_icon.slide_ico_3 {
        width: 75px;
        height: 75px;
    }

    /*SECTION::LOGO*/
    .info_icon{
        position: static;
        float: left;
        margin: 0px 0px 0px 0px;
    }

    .info_icon.slide_ico_4{
        margin: 0px;
    }
    .info_icon div{
        display:none;
    }




    .mobile_menu{
        display: block;
        background: url('/templates/moto/images/mobile_menu.png');
        background-size: 100%;
        cursor:pointer;
        position: absolute;
        width: 28px;
        height: 19px;
        top: 10px;
        left: 10px;

        z-index: 1002;
    }

    .mobile_order{
        display: block;
        background: url('/templates/moto/images/mobile_order.png');
        background-size: 100%;
        width: 26px;
        height: 25px;
        top: 10px;
        right: 10px;
        cursor:pointer;
        position: absolute;
        z-index: 1002;
    }

    .mobile_order_a,.mobile_menu_a{
        display: block;
        float: left;
        z-index: 1002;
    }


    #slide1 .slide_img{
        background:url('/templates/moto/images/mobile_moto.png');
        background-size: 100%;
        width: 400px;
        height: 395px;
    }
    #slide2 .slide_img{
        background:url('/templates/moto/images/mobile_photo1.png');
        background-size: 100%;
        width: 400px;
        height: 402px;
    }
    #slide3 .slide_img{
        background:url('/templates/moto/images/mobile_photo2.png');
        background-size: 100%;
        width: 400px;
        height: 328px;
        margin-top: 0px;
        top: 100px;
    }

    #slide4 .slide_img{
        background:url('/templates/moto/images/mobile_photo4.png');
        background-size: 100%;
        width: 400px;
        height: 328px;
        top:90px;
    }

    /*Слайды*/
    #slide1 {
        margin-top: -50px;
    }

    #slide2 {
        margin-top: -50px;
    }

    #slide3 {
        margin-top: -50px;
    }

    #slide4 {
        margin-top: -50px;
    }

    /* Лайтбокс slider*/
    .static_page .static_page__header{
        font-size: 34px;
    }
    .modbox_content{
        margin: 30px;
    }

    /* Сброс наведения */
    .menu_block a:hover{
        color: white !important;
    }


    /* Сброс иконок слайдера */
    .slide_icons {
        position: absolute;
        bottom: 20px;
        left: 0px;
        right: 0px;
        width: 100%;

    }

    .slidecontent{
        position: static;
    }
    .slide{
        position: static;
    }


    .slidecontent .slide_img{
        position: relative;
    }
    .info_icon_wrap{
        width: 25%;
        display: block;
        height: 100%;
        position: static;
        float: left;

    }
    .info_icon{
        margin: 0 auto !important;
        position: static;
        float: none;
        display: inline-block;
    }

    body{
        min-height: 650px;
    }
    .ui-page.ui-page-theme-a.ui-page-active{
        height: 100%;
    }
}

@media(max-width: 600px){

    main .slider {
        top: 15px;
    }

    .static_page .static_page__header {
        font-size: 24px;
        margin-right: 20px;
    }
    .static_page .static_page__image{
        margin-right: 20px;
        width: 100%;
        box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
        margin-bottom: 20px;
    }
    .static_page .static_page__text{
        margin-right: 0px;
    }

    #slide1 .slide_img{
        background:url('/templates/moto/images/mobile_moto.png');
        background-size: 100%;
        width: 220px;
        height: 217px;
        top: 130px;
    }
    #slide2 .slide_img{
        background:url('/templates/moto/images/mobile_photo1.png');
        background-size: 100%;
        width: 220px;
        height: 227px;
        top: 130px;
    }
    #slide3 .slide_img{
        background:url('/templates/moto/images/mobile_photo2.png');
        background-size: 100%;
        width: 220px;
        height: 183px;
        top: 160px;
    }

    #slide4 .slide_img{
        background:url('/templates/moto/images/mobile_photo4.png');
        background-size: 100%;
        width: 220px;
        height: 200px;
        top: 150px;
    }

    .slide_left {
        top: 155px;
    }

    .slide_right {
        top: 155px;
    }


    main {
        margin: -200px 0px 0px 0px;
    }
    body{
        min-height: 520px;
    }

    .slide_icons {
        bottom:10px;
    }
}

@media(max-width: 400px){


    body{
        background: url('../images/background1.jpg') 50% 0%;
    }

    body{
        min-height: 400px;
    }

    /*SECTION::SLIDE*/
    main{
        margin: -180px 0px 0px 0px;
    }

    .slidecontent {
        min-height: 440px;
        width: 320px;
    }

    .slidecontent img {
        width: 200px;
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .slide_left{
        left:20px;
    }
    .slide_right{
        right:20px;
    }
    .info_icon {
        margin: 0px 5px 10px 0px;
    }
    .info_icon.slide_ico_4{
        margin: 0px;
    }

}


/*
1 Летят иконки при возврате
2 Отступ "Установочные центры москва"
3 Крестик налазит
*/