article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

input:active,input:focus{
    outline: none !important;
}

audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: none;
    outline: none;
}
a:hover,
a:active {
    outline: 0;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
}


/* Основа */

li{
    list-style-type: none;
}
body{
    background: url('../images/background.jpg') 50% 0%;
    background-size:cover;
    min-width: 680px;
}

nav li a{
    color: #c1c1c0;
    text-decoration: none;
}

nav{
    display: inline-block;
}

nav ul{
    display: inline-block;
}
nav li{
    float: left;
}

.list_dot {
    list-style-type: disc;
    color: white;
}

nav img{
    display:  inline-block;
}

form input{
    display: block;
}


p,h1,h2,h3,h4{
    color: white;
}


/*  СЕКЦИЯ: Логотип */
section.logo{
    position: fixed;
    top:30px;
    left:30px;
}

/*  СЕКЦИЯ: Меню */

section.menu{
    position: fixed;
    top:0px;
    right:0px;
    left:350px;

    padding: 20px 10px 20px 25px;

    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid #1c1c1c;
    border-left: 1px solid #1c1c1c;
    font-size: 16px;
}

section.menu a{
    color: white;
    border-bottom:1px solid #545353;
    padding-bottom: 3px;

}

section.menu .nav-left li{
    margin-right: 35px;
}

section.menu .nav-right li{
}
section.menu .nav-right li.list_dot{
    padding-left: 5px;
    margin-left: 34px;
}
section.menu .nav-right li.list_dot a{
    border-bottom: none;
}

section.menu .nav-left{
    float: left;
}

section.menu .nav-right{
    float: right;
}



/* СЕКЦИЯ: Описание сайта */

section.info{
    position: fixed;
    top: 164px;
    left:30px;
}

section.info p{
    color: #888888;
    line-height: 23px;
}


section.info h1{
    font-size: 24px;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}


/* СЕКЦИЯ: Сделать заказ */

section.order{
    position: fixed;
    top: 65px;
    right:0px;

    padding: 30px 0px 30px 0px;

    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid #1c1c1c;
    border-left: 1px solid #1c1c1c;
    font-size: 16px;
}

section.order .order-header{
    padding: 0px 30px 30px 30px;
    border-bottom: 1px solid #1c1c1c;
}

section.order .order-header p{
    border:1px dashed #b88717;
    padding: 6px 10px;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

section.order form{
    padding: 30px 30px 0px 30px;
}

section.order form input{
    width: 130px;
    padding: 8px 10px;
    background: none;
    border: 1px solid #1c1c1c;
    margin: 0px auto 20px;
    font-size: 14px;
    color: white;
}

section.order form input[type=submit]{
    padding: 15px 15px;
    font-size: 18px;
    color:#ac8019;
    width: 150px;
}

section.order form p{
    font-size: 10px;
    color: #888888;
    text-transform: uppercase;
    text-align: center;
}

section.order h3{
    font-size: 22px;
    font-weight: 400;
}


/* СЕКЦИЯ: Основной контент */

main{
    position: relative;
    margin:200px 0px 0px 400px;
    right:20px;
}

/* СЕКЦИЯ: Иконки в футере */

section.icons{
    position: fixed;
    bottom:50px;
    right:0px;
    left:0px;
}

/* СЕКЦИЯ: Нижнее меню */

section.menu_bottom{
    position: fixed;
    bottom:0px;
    right:0px;
    left:0px;
}


@media (max-width:1280px) {
    /*  СЕКЦИЯ: Логотип */
    section.logo img{
        width: 180px;
    }

    /*  СЕКЦИЯ: Меню */
    section.menu {
        left: 230px;
    }

    section.menu a{
        font-size: 14px;
    }

    /*  СЕКЦИЯ: Описание */
    section.info p{
        font-size: 14px;
    }

    section.info h1 {
        font-size: 18px;
    }
}

@media (max-width:980px) {
    /*  СЕКЦИЯ: Меню */
    section.menu .nav-right {
        float: left;
        margin-top: 15px;
        margin-left: 64px;
    }
    /*  СЕКЦИЯ: Заказ */
    section.order {
        position: fixed;
        top: 104px;
    }
}